body {
    margin: 0;
    padding: 0;
  
    background-color: var(--fondo);
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: var(--amarillo01);
}


form {
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #333;

    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

button{
    background-color: var(--fondo);
    color: var(--amarillo04);
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: var(--amarillo03);
    color: var(--fondo);
}